/* ===== GENERAL ===== */

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#111; /* Negro claro */
  color:white;
}

/* ===== NAVBAR MORADO ===== */

header{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  background:#6a0dad; /* MORADO */
  box-shadow:0 4px 15px rgba(0,0,0,0.6);
}

.logo{
  font-weight:bold;
  font-size:20px;
}

nav{
  display:flex;
  gap:15px;
}

nav button{
  background:transparent;
  border:2px solid white;
  color:white;
  padding:6px 15px;
  border-radius:20px;
  cursor:pointer;
  transition:0.3s;
}

nav button:hover{
  background:white;
  color:#6a0dad;
  transform:scale(1.1);
}

.login-btn{
  background:white;
  color:#6a0dad;
  border:none;
  padding:8px 15px;
  border-radius:20px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  transform:scale(1.1);
}

/* ===== CONTENIDO ===== */

main{
  padding-top:120px;
  text-align:center;
}

.section{
  display:none;
  padding:50px;
}

.active{
  display:block;
}

.ip{
  margin-top:20px;
  display:inline-block;
  padding:10px 20px;
  background:#222;
  border-radius:10px;
  border:1px solid #6a0dad;
}
