body{
  margin:0;
  font-family:Arial, sans-serif;
  background:url("https://wallpaperaccess.com/full/2637581.jpg") no-repeat center center/cover;
  color:white;
}

/* NAVBAR */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:rgba(0,0,0,0.7);
}

nav button{
  margin:0 10px;
  padding:8px 15px;
  border:none;
  border-radius:6px;
  background:#00ff88;
  cursor:pointer;
  font-weight:bold;
}

nav button:hover{
  transform:scale(1.1);
}

/* LOGIN */
.login-btn{
  background:#1e90ff;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:6px;
  cursor:pointer;
}

/* SECCIONES */
.section{
  display:none;
  padding:60px;
  text-align:center;
}

.active{
  display:block;
}

/* IP */
.ip{
  margin-top:20px;
  padding:10px;
  background:black;
  display:inline-block;
  border-radius:10px;
}
